@use "vars" as *;

.contacts-header {
    background-color: $sub_color;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 12px;

    .contacts-header__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 0;
        gap: $section_space;
    }

    .icon_line {
        color: white;
        text-decoration: none;

        .sprite_icon {
            height: 18px;
            width: 18px;
            margin-right: 0;
            fill: none;
        }
    }
}

@media (max-width: 820px) {
    .contacts-header {
        .contacts-header__container {
            flex-wrap: wrap;
            row-gap: 6px;
        }
    }
}

@media (max-width: 520px) {
    .contacts-header {
        .contacts-header__container {
            flex-direction: column;
            align-items: flex-start;
            gap: 6px;
        }
    }
}
