@use "vars" as *;

body {
    font-family: $main_fonts;
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: $head_fonts;
    font-weight: bold;
}

h1 {
    font-family: "Manrope", sans-serif;
    font-size: 38px;
    font-weight: 200;
    line-height: 1.15;
    margin: 0;

    strong {
        font-weight: 700;
    }
}

.mb-10 {
    margin-bottom: 10px;
}

header,
footer,
section {
    width: 100%;
    padding-top: $section_space;
    padding-bottom: $section_space;
}

.container {
    width: 100%;
    max-width: $conteiner_max_w;
    margin: 0 auto;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.map_in_page {
    width: 100%;
    min-height: 300px;
}

.thencs_section {
    text-align: center;
    height: 80vh;
    .emoji {
        font-size: 100px;
        margin-top: 20px;
    }
}

.icon_line {
    display: flex;
    color: white;
    gap: 10px;

    & > * {
        margin-top: auto;
        margin-bottom: auto;
    }
    .sprite_icon {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        fill: $main_color;
    }
}

@media (max-width: 1440px) {
    .container {
        width: 96%;
        margin-left: auto;
        margin-right: auto;
    }
}
