@use "vars" as *;

.main-banner {
    position: relative;
    height: 565px;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-color: $black_color;
        opacity: 0.4;
        z-index: 1;
    }

    &__video {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 0;
    }

    .container {
        position: relative;
        z-index: 2;
    }

    &__content {
        color: white;
        max-width: 720px;
    }

    p {
        margin: 20px 0;
    }
}

@media (max-width: 820px) {
    .main-banner {
        height: 520px;

        .main-banner__content {
            max-width: 620px;
        }
    }
}

@media (max-width: 520px) {
    .main-banner {
        height: 480px;

        h1 {
            font-size: 30px;
        }
    }
}
