@use "vars" as *;

.our-advantages {
    background-color: $sub_color;
    color: white;

    h2 {
        font-family: "Manrope", sans-serif;
        font-size: 28px;
        font-weight: 200;
        line-height: 1.2;
        margin: 0;
        color: white;

        strong {
            font-weight: 700;
        }
    }

    .our-advantages__grid {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: $section_space;
    }

    .our-advantages__card {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .our-advantages__icon {
        width: 51px;
        height: 51px;
        object-fit: contain;
    }

    .our-advantages__title {
        font-family: $head_fonts;
        font-size: 22px;
        font-weight: 500;
        margin: 0;
        color: white;
    }

    .our-advantages__text {
        font-family: $head_fonts;
        font-size: 14px;
        font-weight: 400;
        margin: 0;
        color: white;
    }
}

@media (max-width: 820px) {
    .our-advantages {
        .our-advantages__grid {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media (max-width: 520px) {
    .our-advantages {
        .our-advantages__grid {
            grid-template-columns: 1fr;
        }
    }
}
