@use "vars" as *;

.page-header {
    position: relative;
    background: url(../img/page_b.webp);
    background-size: cover;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        opacity: 0.8;
        // background-image: url('../img/page_header_bg.webp');
        background-size: cover;
        background-position: center;
        z-index: 2;
    }

    h1 {
        font-family: $head_fonts;
        font-size: 42px;
        color: #4f3e3a;
        margin: 20px 0 0 0;
        // text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        z-index: 10;
        position: relative;
    }
}

.uni_breadcrumbs {
    z-index: 10;
    position: relative;
    .breadcrumbs {
        a {
            color: $main_color;
            &:hover {
                color: $main_color;
            }
        }
    }
}

@media (max-width: 768px) {
    .page-header {
        padding: 40px 0;
        border-radius: $border_rad;

        .container {
            .content {
                width: 100%;
            }
        }
        h1 {
            font-size: 32px;
        }
    }
}

@media (max-width: 480px) {
    .page-header {
        padding: 30px 0;

        h1 {
            font-size: 24px;
        }
    }
}
