$main_color: #C9A24D;
$hover_color: #273772;
$sub_color: #5F7C8A;
$black_color: #2B2B2B;

$gray_bg_color:#FAFAF8;
$gray_border_color:#B4C5C5;

$main_transition: all .5s ease;

$main_fonts:'Roboto', sans-serif;
$head_fonts:'Montserrat', sans-serif;

$border_rad: 10px;

$section_space: 20px;
$conteiner_max_w: 1280px;

$box_shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
$box_padding: 1.25rem;
$box_border_rad: 6px;
