$main_color: #c9a24d;
$hover_color: #273772;
$sub_color: #5f7c8a;
$black_color: #2b2b2b;

$gray_bg_color: #fafaf8;
$gray_border_color: #b4c5c5;

$main_transition: all 0.5s ease;

$main_fonts: "Roboto", sans-serif;
$head_fonts: "Montserrat", sans-serif;

$border_rad: 10px;

$section_space: 20px;
$conteiner_max_w: 1280px;

$box_shadow:
    0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0 0 1px rgba(10, 10, 10, 0.02);
$box_padding: 1.25rem;
$box_border_rad: 6px;
