@use "vars";
@use "null";
@use "fonts";
@use "scroll";
@use "text-styles";
@use "pagination";
@use "burger-icon";
@use "standart";
@use "form/all-form";
@use "elements/all-elements";

@use "current";

@use "modal";
@use "cols";

@use "contacts-header";
@use "logo-menu-header";
@use "main-banner";
@use "about-company";
@use "our-specialists";
@use "our-services";
@use "our-advantages";
@use "contacts";
@use "site-footer";
@use "bvi-btn";
@use "page-header";
@use "contacts-page";

// Схема с сайдбаром
// @use "sidebar-schem";

// Боковое беню
// @use "menues";

// Иконка бургера
// @use "burger-icon";

@use "cookie";
